html,
body,
div,
ul,
li,
a,
ol,
span,
i,
em,
strong,
article {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  font-size: 16px;
  font-family: "Microsoft Yahei", sans-serif;
}
/* header */
div.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  min-width: 1000px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
div.header .header-content {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  font-size: 0;
}
div.header div.logo {
  display: inline-block;
  width: 30%;
  height: 80px;
  vertical-align: middle;
}
div.header div.nav {
  display: inline-block;
  width: 70%;
  height: 80px;
  vertical-align: middle;
  text-align: right;
}
div.header div.nav ul.nav-up {
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 0;
}
div.header div.nav ul.nav-up li {
  display: inline-block;
  width: 120px;
  font-size: 12px;
}
div.header div.nav ul.nav-down {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 0;
}
div.header div.nav ul.nav-down li.nav-level-first {
  display: inline-block;
  width: 120px;
  font-size: 16px;
}
div.header div.nav ul.nav-down li.nav-level-first a.nav-level-link {
  width: 100%;
  position: relative;
}
div.header div.nav ul.nav-down li.nav-level-first a.nav-level-link:hover:after,
div.header div.nav ul.nav-down li.nav-level-first a.nav-level-link:active:after,
div.header div.nav ul.nav-down li.nav-level-first a.nav-level-link:visited:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: blue;
}
div.header div.nav ul.nav-down li.nav-level-first div.nav-level-list {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 1000px;
  height: 35px;
  font-size: 0;
  background: #2f2e2e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
div.header div.nav ul.nav-down li.nav-level-first div.nav-level-list ul {
  width: 1000px;
  margin: 0 auto;
}
div.header div.nav ul.nav-down li.nav-level-first div.nav-level-list li.nav-level-second {
  display: inline-block;
  width: 120px;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
div.header div.nav ul.nav-down li.nav-level-first div.nav-level-list li.nav-level-second a {
  display: inline-block;
  width: inherit;
  height: inherit;
}
div.header div.nav ul.nav-down li.nav-level-first div.nav-level-list li.nav-level-second:hover,
div.header div.nav ul.nav-down li.nav-level-first div.nav-level-list li.active {
  background: #0560a9;
}
.footer {
  width: 100%;
  min-width: 1000px;
  height: 306px;
  background: #2f2e2e;
}
.footer div.footer-content {
  width: 866px;
  height: 306px;
  margin: 0 auto;
  font-size: 0;
}
.footer div.footer-content div.footer-left,
.footer div.footer-content div.footer-right {
  display: inline-block;
  height: inherit;
  padding-top: 56px;
  box-sizing: border-box;
  vertical-align: middle;
}
.footer div.footer-content div.footer-left {
  width: 62%;
}
.footer div.footer-content div.footer-left ul.footer-com {
  display: inline-block;
  width: 30%;
  height: 197px;
}
.footer div.footer-content div.footer-left ul.footer-com li {
  width: 100%;
  line-height: 30px;
  font-size: 12px;
  text-indent: 10px;
  color: #fff;
}
.footer div.footer-content div.footer-left ul.footer-com li:first-child {
  margin-bottom: 20px;
  font-size: 18px;
}
.footer div.footer-content div.footer-left p.footer-copyright {
  width: 100%;
  color: #fff;
  font-size: 12px;
  text-indent: 10px;
}
.footer div.footer-content div.footer-right {
  width: 38%;
}
.footer div.footer-content div.footer-right div.footer-solagan img {
  height: 33px;
}
.footer div.footer-content div.footer-right div.footer-share {
  width: 100%;
  height: 40px;
  margin: 10px 0;
}
.footer div.footer-content div.footer-right div.footer-qrcon img,
.footer div.footer-content div.footer-right div.footer-qrcon span {
  display: inline-block;
  vertical-align: middle;
}
.footer div.footer-content div.footer-right div.footer-qrcon span {
  margin-left: 10px;
  font-size: 14px;
  color: #fff;
}
